<configuration>
    <!-- LogNCrashHttpAppender 선언 -->
    <appender name="logNCrashHttp" class="com.toast.java.logncrash.logback.LogNCrashHttpAppender">
        <param name="appKey" value="${LOG_N_CRASH_APP_KEY}"/>
        <param name="logSource" value="${spring.profiles.active}"/>
        <param name="category" value="store99-gateway:8080"/>
    </appender>

    <!-- LogNCrashHttpAppender를 포함한 AsyncAppender 선언 -->
    <appender name="LNCS-APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <!-- Logback의 AsyncAppender 옵션 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <includeCallerData value="false"/>
        <queueSize value="2048"/>
        <neverBlock value="true"/>
        <maxFlushTime value="60000"/>
        <appender-ref ref="logNCrashHttp"/>
    </appender>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%-5level) %cyan(%logger) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LNCS-APPENDER"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>